<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="TaskManager Test Suite">
    
    <test name="Unit Tests">
        <classes>
            <class name="com.example.taskmanager.model.TaskTest"/>
            <class name="com.example.taskmanager.service.TaskServiceTest"/>
        </classes>
    </test>
    
    <test name="Controller Tests">
        <classes>
            <class name="com.example.taskmanager.controller.TaskControllerTest"/>
        </classes>
    </test>
    
    <test name="Integration Tests">
        <classes>
            <class name="com.example.taskmanager.integration.TaskIntegrationTest"/>
        </classes>
    </test>
    
    <test name="Application Tests">
        <classes>
            <class name="com.example.taskmanager.TaskmanagerApplicationTests"/>
        </classes>
    </test>
    
</suite> 